@model List<Mhetrika.Web.ViewModels.DoctorListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Cadastro de Médico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-Mail</th>
            <th>Especialidade</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Specialty)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Details" asp-route-id="">Details</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
