@{
    ViewData["Title"] = "Mhetrika - Início";
}

<div class="form-group">
    <ul>
        <li>
            <a asp-action="List" asp-controller="Patient">Ver Pacientes</a>
        </li>
        <li>
            <a asp-action="New" asp-controller="Patient">Cadastrar Paciente</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Laboratory">Ver Laboratórios</a>
        </li>
        <li>
            <a asp-action="Create" asp-controller="Laboratory">Cadastrar Laboratório</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Doctor">Ver Médicos</a>
        </li>
        <li>
            <a asp-action="Create" asp-controller="Doctor">Cadastrar Médico</a>
        </li>
    </ul>
</div>

